<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.web.mappers.MemberMapper">
    <insert id="insertMember"
            parameterType="com.person.web.domains.MemberDTO">

        INSERT INTO users (user_id, password, user_name, email)
        VALUES (#{userId},#{password},#{userName},#{email})
</insert>

    <select id="login" resultType="com.person.web.domains.MemberDTO"
            parameterType="com.person.web.domains.MemberDTO">
        select
           user_id userid, password, user_name userName, email
        from users
        where user_id like #{userId} and password like #{password}
    </select>

    <select id="searchId" resultType="string"
            parameterType="string">
        select
           user_id userId
        from users
        where user_id like #{value}
    </select>

    <update id="updateInfo" parameterType="com.person.web.domains.MemberDTO"
    >
        UPDATE users
SET password = #{password}, email = #{email}
WHERE user_id like #{userId}
    </update>

    <delete id="deleteMember" parameterType="com.person.web.domains.MemberDTO">
        DELETE FROM users where user_id like #{userId} and password like #{password}
    </delete>
</mapper>

