<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.web.mappers.MemberMapper">
    <insert id="insertMember"
            parameterType="com.person.web.domains.MemberDTO">

        INSERT INTO member (userid, password, username, email)
        VALUES (#{userId},#{password},#{userName},#{email})
</insert>

</mapper>