<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.web.mappers.MemberMapper">
    <insert id="insertMember"
            parameterType="com.person.web.domains.MemberDTO">

        INSERT INTO member (userid, password, username, email)
        VALUES (#{userId},#{password},#{userName},#{email})
</insert>

    <select id="login" resultType="com.person.web.domains.MemberDTO"
            parameterType="com.person.web.domains.MemberDTO">
        select
           userid userid, password, username userName, email
        from member
        where userid like #{userId} and password like #{password}
    </select>

    <select id="search" resultType="com.person.web.domains.MemberDTO"
            parameterType="string">
        select
           userid userid
        from member
        where userid like #{value}
    </select>
</mapper>